:root{
    --primary-color: rgb(4, 36, 139); 
    --seconday-color: yellow;
}



.mdl-navigation__link:hover{
    background-color: yellow;
}

.active{
    background-color: yellow;
    border-bottom: rgb(0, 26, 255) 0.1em solid;
}